USE [master]
GO
/****** Object:  Database [ROULETTE_BETTING]    Script Date: 1/17/2021 8:13:02 PM ******/
CREATE DATABASE [ROULETTE_BETTING]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ROULETTE_BETTING', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ROULETTE_BETTING.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ROULETTE_BETTING_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ROULETTE_BETTING_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ROULETTE_BETTING].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ROULETTE_BETTING]
GO
/****** Object:  Table [dbo].[BET]    Script Date: 1/17/2021 8:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BET](
	[BET_ID] [int] IDENTITY(1,1) NOT NULL,
	[BET_CODE] [varchar](50) NOT NULL,
	[BET_KEY] [varchar](50) NULL,
	[BET_VALUE] [decimal](20, 3) NOT NULL,
	[BET_DATE] [date] NULL,
	[FK_ROULETTE_ID] [int] NOT NULL,
	[FK_CLIENT_ID] [int] NOT NULL,
	[BET_COLOR] [varchar](10) NULL,
	[BET_NUMBER] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[BET_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENT]    Script Date: 1/17/2021 8:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENT](
	[CLIENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[CLIENT_CODE] [varchar](50) NOT NULL,
	[CLIENT_MONEY] [decimal](20, 3) NOT NULL,
	[CLIENT_NAME] [varchar](50) NOT NULL,
	[CLIENT_LASTNAME] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CLIENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROULETTE]    Script Date: 1/17/2021 8:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROULETTE](
	[ROULETTE_ID] [int] IDENTITY(1,1) NOT NULL,
	[ROULETTE_CODE] [varchar](50) NOT NULL,
	[ROULETTE_STATUS] [varchar](50) NOT NULL,
	[OPENING_DATE] [date] NULL,
	[CLOSING_DATE] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ROULETTE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BET] ON 

INSERT [dbo].[BET] ([BET_ID], [BET_CODE], [BET_KEY], [BET_VALUE], [BET_DATE], [FK_ROULETTE_ID], [FK_CLIENT_ID], [BET_COLOR], [BET_NUMBER]) VALUES (3, N'2a962604-26b1-4129-b7b0-dd00193914ed', N'ROJO;1', CAST(10000.000 AS Decimal(20, 3)), CAST(N'2021-01-16' AS Date), 12, 1, N'ROJO', 1)
INSERT [dbo].[BET] ([BET_ID], [BET_CODE], [BET_KEY], [BET_VALUE], [BET_DATE], [FK_ROULETTE_ID], [FK_CLIENT_ID], [BET_COLOR], [BET_NUMBER]) VALUES (4, N'407b9af0-6bdc-4109-bdec-c42849c4dfdb', N'NEGRO;1;', CAST(10000.000 AS Decimal(20, 3)), CAST(N'2021-01-16' AS Date), 12, 1, N'NEGRO', 1)
INSERT [dbo].[BET] ([BET_ID], [BET_CODE], [BET_KEY], [BET_VALUE], [BET_DATE], [FK_ROULETTE_ID], [FK_CLIENT_ID], [BET_COLOR], [BET_NUMBER]) VALUES (5, N'e6c69604-e491-48f4-b7b4-b2c51e46d08e', N'NEGRO;0;APUESTA COLOR', CAST(10000.000 AS Decimal(20, 3)), CAST(N'2021-01-16' AS Date), 12, 2, N'NEGRO', 0)
SET IDENTITY_INSERT [dbo].[BET] OFF
GO
SET IDENTITY_INSERT [dbo].[CLIENT] ON 

INSERT [dbo].[CLIENT] ([CLIENT_ID], [CLIENT_CODE], [CLIENT_MONEY], [CLIENT_NAME], [CLIENT_LASTNAME]) VALUES (1, N'1', CAST(10027999.000 AS Decimal(20, 3)), N'ANDRES', N'MENA')
INSERT [dbo].[CLIENT] ([CLIENT_ID], [CLIENT_CODE], [CLIENT_MONEY], [CLIENT_NAME], [CLIENT_LASTNAME]) VALUES (2, N'2', CAST(9989999.000 AS Decimal(20, 3)), N'CAMILO', N'ALVAREZ')
INSERT [dbo].[CLIENT] ([CLIENT_ID], [CLIENT_CODE], [CLIENT_MONEY], [CLIENT_NAME], [CLIENT_LASTNAME]) VALUES (3, N'3', CAST(9999999.000 AS Decimal(20, 3)), N'JULIANA', N'LOPEZ')
SET IDENTITY_INSERT [dbo].[CLIENT] OFF
GO
SET IDENTITY_INSERT [dbo].[ROULETTE] ON 

INSERT [dbo].[ROULETTE] ([ROULETTE_ID], [ROULETTE_CODE], [ROULETTE_STATUS], [OPENING_DATE], [CLOSING_DATE]) VALUES (11, N'1c348e1b-a8a3-4110-8b98-5887a302c6d7', N'CREADA', NULL, NULL)
INSERT [dbo].[ROULETTE] ([ROULETTE_ID], [ROULETTE_CODE], [ROULETTE_STATUS], [OPENING_DATE], [CLOSING_DATE]) VALUES (12, N'38006d00-3c12-483d-abcf-8fa46a5698fa', N'CERRADA', CAST(N'2021-01-16' AS Date), CAST(N'2021-01-16' AS Date))
INSERT [dbo].[ROULETTE] ([ROULETTE_ID], [ROULETTE_CODE], [ROULETTE_STATUS], [OPENING_DATE], [CLOSING_DATE]) VALUES (13, N'd6c6461c-e1a6-4f56-81c8-79d27ddfca05', N'CREADA', NULL, NULL)
SET IDENTITY_INSERT [dbo].[ROULETTE] OFF
GO
ALTER TABLE [dbo].[BET]  WITH CHECK ADD FOREIGN KEY([FK_ROULETTE_ID])
REFERENCES [dbo].[ROULETTE] ([ROULETTE_ID])
GO
ALTER TABLE [dbo].[BET]  WITH CHECK ADD FOREIGN KEY([FK_CLIENT_ID])
REFERENCES [dbo].[CLIENT] ([CLIENT_ID])
GO
/****** Object:  StoredProcedure [dbo].[spAwardWinners]    Script Date: 1/17/2021 8:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spAwardWinners]
  @CLIENT_ID INT,
  @BET_VALUE DECIMAL(20,3)
AS
BEGIN
	DECLARE @CURRENT_VALUE DECIMAL(20,3);

	SELECT @CURRENT_VALUE = cl.CLIENT_MONEY FROM CLIENT cl

	UPDATE CLIENT SET CLIENT_MONEY = (@CURRENT_VALUE + @BET_VALUE)
	WHERE CLIENT_ID = @CLIENT_ID

END

GO
/****** Object:  StoredProcedure [dbo].[spCloseRoulette]    Script Date: 1/17/2021 8:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  

CREATE PROCEDURE [dbo].[spCloseRoulette]
	@ROULETTE_ID INT,
	@WINNING_NUMBER BIGINT,
	@WINNING_COLOR VARCHAR(10)
AS
BEGIN
	DECLARE @OPENING_DATE DATE;
	DECLARE @CLOSING_DATE DATE;

	SELECT @OPENING_DATE = MIN(cm.OPENING_DATE),  
		   @CLOSING_DATE = MAX(cm.CLOSING_DATE)
	  FROM ROULETTE cm
	 WHERE cm.ROULETTE_ID = @ROULETTE_ID;

	SELECT b.FK_CLIENT_ID,
		   b.BET_VALUE,
		   b.BET_COLOR,
		   b.BET_NUMBER
	 FROM  BET b
INNER JOIN ROULETTE ro ON ro.ROULETTE_ID = b.FK_ROULETTE_ID
	WHERE  b.FK_ROULETTE_ID = @ROULETTE_ID
	AND	   b.BET_NUMBER = @WINNING_NUMBER
	OR	   b.BET_COLOR = @WINNING_COLOR

	UPDATE ROULETTE SET ROULETTE_STATUS = 'CERRADA', CLOSING_DATE=GETDATE() WHERE ROULETTE_ID = @ROULETTE_ID;

END




GO
/****** Object:  StoredProcedure [dbo].[spCreateBet]    Script Date: 1/17/2021 8:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCreateBet]
  @BET_ID INT OUTPUT,
  @BET_CODE VARCHAR(50),
  @BET_KEY VARCHAR(50),
  @BET_VALUE DECIMAL(20,3),
  @FK_ID_ROULETTE_ID INT,
  @FK_CLIENT_ID INT,
  @BET_COLOR VARCHAR(10),
  @BET_NUMBER BIGINT
AS
BEGIN
	INSERT INTO BET(
			 BET_CODE,
			 BET_KEY,
			 BET_VALUE,
			 BET_DATE,
			 FK_ROULETTE_ID,
			 FK_CLIENT_ID,
			 BET_COLOR,
			 BET_NUMBER)

	VALUES( @BET_CODE,
			@BET_KEY,
			@BET_VALUE,
			GETDATE(),
			@FK_ID_ROULETTE_ID,
			@FK_CLIENT_ID,
			@BET_COLOR,
			@BET_NUMBER)

     SELECT @BET_ID = SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[spCreateRoulette]    Script Date: 1/17/2021 8:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCreateRoulette]
  @ROULETTE_ID INT OUTPUT,
  @ROULETTE_CODE VARCHAR(50)
AS
BEGIN
	INSERT INTO ROULETTE(
			 ROULETTE_CODE,
			 ROULETTE_STATUS)

	VALUES(  
			 @ROULETTE_CODE,
			 'CREADA')

     SELECT @ROULETTE_ID = SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[spGetBetById]    Script Date: 1/17/2021 8:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetBetById]
AS
BEGIN
	SELECT b.BET_ID,
	       b.BET_CODE,
		   b.BET_KEY,
		   b.BET_VALUE,
		   b.BET_DATE,
		   b.FK_ROULETTE_ID,
		   b.FK_CLIENT_ID,
		   b.BET_COLOR,
		   b.BET_NUMBER
	FROM   BET b
END



GO
/****** Object:  StoredProcedure [dbo].[spGetRouletteById]    Script Date: 1/17/2021 8:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  

CREATE PROCEDURE [dbo].[spGetRouletteById]
	@ROULETTE_ID INT
AS
BEGIN
	SELECT c.ROULETTE_ID,
	       c.ROULETTE_CODE,
		   c.ROULETTE_STATUS,
		   c.OPENING_DATE,
		   c.CLOSING_DATE
	FROM   ROULETTE c
	WHERE c.ROULETTE_ID = @ROULETTE_ID
END






GO
/****** Object:  StoredProcedure [dbo].[spGetRoulettes]    Script Date: 1/17/2021 8:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  

CREATE PROCEDURE [dbo].[spGetRoulettes]
AS
BEGIN
	SELECT c.ROULETTE_ID,
	       c.ROULETTE_CODE,
		   c.ROULETTE_STATUS,
		   c.OPENING_DATE,
		   c.CLOSING_DATE
	FROM   ROULETTE c
END



GO
/****** Object:  StoredProcedure [dbo].[spOpenRoulette]    Script Date: 1/17/2021 8:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  

CREATE PROCEDURE [dbo].[spOpenRoulette]
	@ROULETTE_ID INT
AS
BEGIN
	UPDATE  ROULETTE SET
	              ROULETTE_STATUS = 'DISPONIBLE',
		          OPENING_DATE = GETDATE()
	WHERE  ROULETTE_ID = @ROULETTE_ID;
END
GO
/****** Object:  StoredProcedure [dbo].[spParticipateBet]    Script Date: 1/17/2021 8:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spParticipateBet]
  @CLIENT_ID INT,
  @BET_VALUE DECIMAL(20,3)
AS
BEGIN
	DECLARE @CURRENT_VALUE DECIMAL(20,3);

	SELECT @CURRENT_VALUE = cl.CLIENT_MONEY FROM CLIENT cl

	UPDATE CLIENT SET CLIENT_MONEY = (@CURRENT_VALUE - @BET_VALUE)
	WHERE CLIENT_ID = @CLIENT_ID

END

GO
USE [master]
GO
